@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh sans", sans-serif;
}

.orange {
  color: hsl(26deg, 100%, 55%);
}

.sneaker-comp {
  font-weight: 700;
}
.thumbnail{
  cursor: pointer;
}
.popup-cart {
  padding: 2em;
  background-color: #fff;
  position: absolute;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  top: 7em;
  right: 10px;
  -webkit-box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
}
.popup-cart #cart-btn {
  padding: 8px 40px;
  border-radius: 7px;
  border: transparent;
  background-color: hsl(26deg, 100%, 55%);
  color: #fff;
}

.hidden {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}
.navbar .usr-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.navbar .nav-first-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
.navbar .nav-linkscont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2em;
}
.navbar .nav-linkscont .nav-links {
  color: hsl(219deg, 9%, 45%);
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3em;
  padding: 4em 0.5em;
}

.hero-section > div {
  width: 100%;
  max-width: 30em;
}

.product-img-gallery {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 2em;
  max-width: 45%;
}
.product-img-gallery .main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.product-img-gallery .main-img img {
  max-width: 60%;
  border-radius: 7px;
}
.product-img-gallery .img-carousel img {
  width: 15%;
  margin-top: 0.4em;
  margin-inline: 0.4em;
  border-radius: 7px;
  position: relative;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.product-img-gallery .img-carousel img:hover {
  opacity: 0.5;
}

.product-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.product-desc * {
  max-width: 400px;
}
.product-desc .prod-info {
  color: hsl(219deg, 9%, 45%);
  font-size: 16px;
  line-height: 1.6em;
}
.product-desc .btn-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-desc .btn-sec #cart-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 50px;
  border-radius: 7px;
  border: transparent;
  background-color: hsl(26deg, 100%, 55%);
  color: #fff;
  margin-inline: 10px;
}
.product-desc .btn-sec .counter-wrapper {
  background-color: hsl(223deg, 64%, 98%);
  max-width: 30px;
  height: 50px;
  padding: 8px;
  border-radius: 7px;
}
.product-desc .btn-sec .counter-wrapper input {
  max-width: 40px;
  padding-left: 20px;
  border: transparent;
  background-color: hsl(223deg, 64%, 98%);
}
.product-desc .btn-sec .counter-wrapper span {
  padding-inline: 10px;
}

.prod-price-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  max-width: 8em;
}
.prod-price-cont .disc-price {
  font-size: 22px;
  font-weight: 700;
}
.prod-price-cont .discount {
  padding: 4px 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: hsl(25deg, 100%, 94%);
  font-weight: 700;
}
.prod-price-cont .org-price {
  color: hsl(219deg, 9%, 45%);
  text-decoration: line-through;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  padding: 20px 0;
}
.cart-item * {
  padding-inline: 5px;
}

.hamburger-container {
  display: none;
}

.hamburger-lists {
  position: fixed;
  top: 10px;
  right: 65px;
  padding: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hamburger-lists > ul > li {
  list-style: none;
  padding: 10px;
  font-family: "Kumbh sans", sans-serif;
  cursor: pointer;
}

#hamburger-menu {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 4;
  overflow: hidden;
}

.hamburger-item {
  position: fixed;
  top: 8px;
  left: 9px;
  z-index: 1;
  width: 36px;
  height: 60px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-item > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5px;
  background-color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.hamburger-item > div::before,
.hamburger-item > div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  background-color: inherit;
  z-index: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.hamburger-item > div::after {
  top: 10px;
}

.hamburger-container #hamburger-menu:checked + .hamburger-item > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hamburger-container #hamburger-menu:checked + .hamburger-item > div:before,
.hamburger-container #hamburger-menu:checked + .hamburger-item > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hamburger-container #hamburger-menu:checked ~ .hamburger-lists {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 50em) {
  .nav-first-sec .nav-linkscont {
    display: none;
  }
  .hamburger-container {
    display: block;
  }
}